services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: postgres
    volumes:
      - ./scripts/1-init.sql:/docker-entrypoint-initdb.d/1-init.sql
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - shared_network

  dicdoc-service:
    container_name: dicdoc-service
    build:
      context: ./
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    links:
      - postgres
    restart: on-failure
    env_file:
      - configs/cfg.env
    networks:
      - shared_network
volumes:
  db-data:
    external: true

networks:
  shared_network:
    external: true
